@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Helvetica Neue', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #bbbbbb;
  font-size: 16px;
  position: relative;
  height: 100vh;

  &::before {
    content:" ";
    position: absolute;
    background: url(../src/images/logo.svg) no-repeat bottom left;
    opacity: 0.1;
    width: 166px;
    height: 270px;
    left: 5%;
    bottom: 50px;
    background-size: cover;
  }
}
.main-container {
  width: 940px;
  margin: 0 auto;
  padding: 60px 0;
}
.container {
  width: 840px;
  margin: 0 auto;
}
.inner-container {
  width: 700px;
  margin: 0 auto;
}

.notes-list::-webkit-scrollbar {
  display: none;
}
input, textarea {
  color: #cccccc;
  width: 100%;
  border: 0;
  padding: 12px 0;
  box-sizing: border-box;
}
input {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* input placeholder css */
input::placeholder {
  color: #cccccc;
}
input:focus, :focus-visible{
  outline: 0;     /* oranges! yey */
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #cccccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #cccccc;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #cccccc;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #cccccc;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    #cccccc;
}
::placeholder { /* Most modern browsers support this now. */
 color:    #cccccc;
}

.modal {
  .search-bar {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      input {
          width: calc(100% - 50px);
      }
      &::before {
          content: "Add Collaborators";
          position: absolute;
          font-size: 36px;
          line-height: 36px;
          color: #777;
          left: -295px;
          bottom: -3px;
          width: 250px;
          text-align: right;
      }
  }
  .collaborators-list {
      &::before {
          content: "Suggested";
          position: absolute;
          font-size: 18px;
          line-height: 24px;
          color: #a8a8a8;
          left: -295px;
          top: 35px;
          width: 250px;
          text-align: right;
      }
      .active {
          outline: 3px solid #6ccb69;
          outline-offset: -3px;
          transition: all ease-in 0.3s;
      }
  }
  .added-collaborators {
      &::before {
          content: "Added";
          position: absolute;
          font-size: 18px;
          line-height: 36px;
          color: #a8a8a8;
          left: -295px;
          top: 5px;
          width: 250px;
          text-align: right;
      }
  }
  .write-msg {
      &::before {
          content: "Compose a message";
          position: absolute;
          font-size: 36px;
          line-height: 36px;
          color: #777;
          left: -295px;
          top: 5px;
          width: 250px;
          text-align: right;
      }
  }
}